<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">    
    <title>
        {% block title %} Athletes {% endblock %}
    </title>
    <style>
td, h1,nav,img{
            text-align: center;
        }
        table{
            width: 95%;
            margin: auto;
        }
#sortable thead tr  {
    cursor: pointer;
    border-bottom: 2pt solid black;
}
nav{
    font-size: 18px;
    font-weight: bold;
}
a{
    color:rgb(32,32,200);
    padding: 1%;
    line-height: 15px;
}
h1{
    line-height: 16px;
}
tr{
    border-top: 1pt solid black;
}
body{
    justify-content: center;
    display: flex;
}
    </style>
    <script src="static/sorttable.js"></script>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">All Data</a>
            <a href="/USA">USA</a>
            <a href="/21st">21<sup>st</sup> Century</a>
            <a href="/Salary">Salary Analysis</a>
            <a href="/Percent">Sport Percentage</a>
            <a href="/Cost">Cost Per Sport</a>
        </nav>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>